<div freeze-header>
    <table>
        <thead>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
            </tr>
            <tr>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
            </tr>
            <tr>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in table1Controller.rows">
                <th>a{{row}}</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
            </tr>

        </tbody>
    </table>
</div>
