------------------------------------------------------------------------------------------ <br>
<div freeze-column="table2Controller.freeze">
    <label>How many columns you want to freeze:
        <input ng-model="table2Controller.freeze">
    </label>
    <table>
        <thead>
            <tr>
                <th>Month</th>
                <th>Item 1</th>
                <th>Item 2</th>
                <th>Item 3</th>
                <th>Item 4</th>
                <th>Item 5</th>
                <th>Item 6</th>
                <th>Item 7</th>
                <th>Item 8</th>
                <th>Item 9</th>
                <th>Item 10</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in table2Controller.rows">
                <th >Jan</th>
                <td ng-repeat="row in table2Controller.rows">3163</td>
            </tr>
        </tbody>
    </table>
</div>
